.footer {
  background: url(../img/pattern/noise_transparent@2x.svg),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  .dogs {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 310px;
    width: 300px;
    margin: 0 auto;
    background-image: url(../img/footer/dog.png);
    background-repeat: no-repeat;
    @media (max-width: $md2+px) {
      position: initial;
    }
    @media (min-width: $md2+px) {
      right: 40px;
    }
  }
  .conntainer {
    position: relative;
    margin: 0 auto;
  }
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 50px 0;
    @media (max-width: $md3+px) {
      padding: 30px 0;
    }
    @media (max-width: $md2+px) {
      justify-content: space-evenly;
    }
    @media (max-width: $md3+px) {
      width: $md4 + px;
      flex-direction: column;
    }
    &__item {
      margin-right: 10%;
      @media (max-width: $md3+px) {
        margin-right: 0;
        text-align: center;
      }
    }
  }

  .colum {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    &__title {
      width: 100%;

      font-size: 35px;
      line-height: 130%;
      color: #ffffff;
      margin-bottom: 35px;
    }
    &__info {
      width: 100%;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 115%;
      color: #f1cdb3;

      span {
        font-size: 25px;
        padding-right: 20px;
      }
    }
  }
}
//====================================================================================================
