//====================================================================================================
.header {
  position: relative;
  z-index: 100;
  font-family: Arial;

  &__content {
    max-width: 1200px;
    margin: 0px auto;
    @media (max-width: $md2+px) {
      max-width: 708px;
    }
    @media (max-width: $md3+px) {
      max-width: 300px;
    }
  }

  &__menu {
    padding: 10px 0;
    height: 82px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md3+px) {
      justify-content: start;
    }
  }
}

.logo {
  z-index: 5;

  h2 {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin-bottom: 10px;
    letter-spacing: 0.06em;
  }
  p {
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.1em;
  }
}

.menu {
  &__icon {
    margin-left: 40px;
  }
  &__body {
    @media (max-width: $md3+px) {
      transform: translate(100%, 0);
      transition: transform 0.8s ease 0s;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      overflow: auto;
      padding: 70px 10px 30px 10px;
      background-color: #292929;
      &._active {
        transform: translate(0px, 0%);
      }
      &._grey {
        background-color: #ffffff;
        color: #292929;
      }
    }
  }
  &__list {
    @media (max-width: $md3+px) {
      margin-top: 200px;
    }
    li {
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
    @media (min-width: $md3+px) {
      display: flex;
      li {
        margin: 0px 35px 0px 0px;
      }
    }
  }
  &__link {
    font-size: 15px;
    font-weight: 500;
    color: #cdcdcd;
    transition: color 0.3s ease 0s;

    &._active {
      color: #fafafa;
      border-bottom: 3px solid #f1cdb3;
    }
    &:hover {
      color: #fafafa;
    }

    @media (max-width: $md3+px) {
      font-size: 32px;
      display: block;
      text-align: center;
      margin: 0 auto 40px auto;
      width: max-content;
    }
  }
}

.header._grey {
  background-color: #ffffff;
  h2,
  p {
    color: #545454;
  }

  .menu__link {
    color: #545454;
    &._active {
      color: #292929;
      border-bottom: 3px solid #f1cdb3;
    }
    &:hover {
      color: #292929;
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.5s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #f1cdb3;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: rotate(90deg);
        left: -7px;
        &:first-child {
          left: 0px;
          top: calc(50% - 1px);
        }
        &:last-child {
          left: -14px;
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

//====================================================================================================
