//====================================================================================================
.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 100px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0.8s ease 0s;

  &::before {
    content: "";
    background-color: rgba(41, 41, 41, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
  }
  &.show {
    visibility: visible;
    overflow: auto;
    &::before {
      opacity: 1;
    }
    .popup__body {
      transform: scale(1);
    }
  }
  &._active {
    visibility: visible;
    overflow: auto;
    &::before {
      opacity: 1;
    }
    .popup__body {
      transition: all 0.3s ease 0.2s;
      transform: scale(1);
    }
  }
  // .popup__content
  &__content {
    display: flex;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .popup__body
  &__body {
    border-radius: 9px;
    transform: scale(0);
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    @media (max-width: $md2+px) {
      max-width: 630px;
    }
    @media (max-width: $md3+px) {
      max-width: 240px;
      padding: 10px;
    }
  }
  // .popup__close
  &__close {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
    z-index: 30;
  }

  &__img {
    width: 100%;
    max-width: 500px;
    flex: 1 1 50%;
    margin-right: 30px;
    @media (max-width: $md2+px) {
      max-width: 350px;
    }
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  &__info {
    flex: 1 1 50%;
    li:before {
      content: "•";
      color: #f1cdb3;
    }
    letter-spacing: 0.06em;
  }
  &__title {
    font-size: 35px;
    line-height: 130%;

    color: #000000;
    margin-bottom: 10px;
  }
  &__category {
    font-size: 20px;
    line-height: 115%;
    margin-bottom: 40px;
    color: #000000;
  }
  &__text {
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 40px;
    color: #000000;
  }
  &__age {
    font-size: 15px;
    line-height: 110%;
    color: #000000;
  }
  &__inoculations {
  }
  &__diseases {
  }
  &__parasites {
  }
  &-doptext {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 11px;
    font-size: 15px;
    line-height: 110%;
    color: #000000;
  }
}
//====================================================================================================
//====================================================================================================
